<div class="container">
  <div class="row">
    <h1>Andrew's Clothings</h1>
  </div>
</div>
<hr>
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div id="carouselExampleIndicators" class="carousel slide col-md-12"
      data-ride="carousel" >
      <div class="carousel-inner" role="listbox">

        <div class="carousel-item active">
          <div class="caption2">
            <h3>African Clothing Styles</h3>
            <button class=" btn btn-primary" (click)="viewProducts()">View Products</button>
          </div>
          <img class="img-fluid" src="../../assets/ankara.jpg" alt="Slide One">
          <div class="caption">
            <h1 class="item-name">Ankara</h1>
            
          </div>
        </div>

        <div class="carousel-item">
            <div class="caption2">
            <h3>African Clothing Styles</h3>
            <button class=" btn btn-primary" (click)="viewProducts()">View Products</button>
            <div>
            <img class="d-block img-fluid" src="../../assets/atiku.jpg" alt="Slide Two">
            <div class="caption">
                <h1 class="item-name">Atiku</h1>
            </div>
          </div>

          <div class="carousel-item">
              <div class="caption2">
              <h3>African Clothing Styles</h3>
              <button class=" btn btn-primary" (click)="viewProducts()">View Products</button>
              </div>
              <img class="d-block img-fluid" src="../../assets/batik.jpg" alt="Slide Three">
              <div class="caption">
                  <h1 class="item-name">Batik</h1>
              </div>
            </div>

            <div class="carousel-item">
                <div class="caption2">
                <h3>African Clothing Styles</h3>
                <button class=" btn btn-primary" (click)="viewProducts()">View Products</button>
                </div>
                <img class="d-block img-fluid" src="../../assets/chiffon.jpg" alt="Slide Three">
                <div class="caption"></div>
                <h1 class="item-name">Chiffon</h1>
                </div>
              </div>

              <div class="carousel-item">
                  <div class="caption2">
                  <h3>African Clothing Styles</h3>
                  <button class=" btn btn-primary" (click)="viewProducts()">View Products</button>
                  </div>div>
                  <img class="d-block img-fluid" src="../../assets/lace.jpg" alt="Slide Three">
                  <div class="caption">
                      <h1 class="item-name">Lace</h1>
                  </div>
                </div>

                <div class="carousel-item">
                    <div class="caption2">
                    <h3>African Clothing Styles</h3>
                    <button class=" btn btn-primary" (click)="viewProducts()">View Products</button>
                    </div>
                    <img class="d-block img-fluid" src="../../assets/silk.jpg" alt="Slide Three">
                    <div class="caption"></div>
                    <h1 class="item-name">Silk</h1>
                    </div>
                  </div>

                  <div class="carousel-item">
                      <div class="caption2">
                      <h3>African Clothing Styles</h3>
                      <button class=" btn btn-primary" (click)="viewProducts()">View Products</button>
                      </div>
                      <img class="d-block img-fluid" src="../../assets/tulle.jpg" alt="Slide Three">
                      <div class="caption"></div>
                      <h1 class="item-name">Tulle</h1>
                      </div>
                    </div>

                    <div class="carousel-item">
                        <div class="caption2">
                        <h3>African Clothing Styles</h3>
                        <button class=" btn btn-primary" (click)="viewProducts()">View Products</button>
                        <img class="d-block img-fluid" src="../../assets/velvet.jpg" alt="Slide Three">
                        </div>
                        <div class="caption"></div>
                        <h1 class="item-name">Velvet</h1>
                    </div>


      </div>
    </div>
  
